!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Web
    != favicon
  %body
    %p
      = "notice: #{flash[:notice]}" if flash[:notice]
      = "error: #{flash[:error]}" if flash[:error]
    - if current_user
      %div user: #{current_user.email}
      != form_for :session, routes.logout_path, method: :delete do
        - submit 'Logout'
    - else
      %div
        != link_to 'Login', routes.login_path
        %span /
        != link_to 'Signup', routes.signup_path
    != yield
